
<div class="card">
    <div class="card-header">
        Agregar Empleado
    </div>
    <div class="card-body">
        
        <form [formGroup]="formularioDeEmpleados" (ngSubmit)="enviarDatos()">
            <div class="mb-3">
              <label for="" class="form-label">Nombre</label>
              <input type="text"
                class="form-control" name="" formControlName="nombre" id="" aria-describedby="helpId" placeholder="Escribe tu nombre">              
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Correo</label>
              <input type="email"
                class="form-control" name="" formControlName="correo" id="" aria-describedby="helpId" placeholder="Escribe tu correo">
          
            </div>

            <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-success">Agregar</button>
                <button type="button" routerLink="/listar-empleado/"  class="btn btn-danger">Cancelar</button>
            </div>
        </form>
    </div>
  
</div>

<small id="helpId" class="form-text text-muted">Developed by Miller Jaramillo</small>