<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav" >
      <a class="navbar-brand" href="#">
        <img src="https://play-lh.googleusercontent.com/ByaDki7oQ9RZJV2XRVgRUCAHmM6aqApy4TLAiDx4MG2BVtr2ijknHf2taM76CjFBpdc" 
        width="50" height="50" class="d-inline-block align-top" alt="">
        
      </a>
        <a class="nav-item nav-link active" href=""> <strong> Sistema </strong>  <span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="listar-empleado"><h5><strong>Listar Empleados</strong></h5></a>
        <a class="nav-item nav-link" routerLink="agregar-empleado"><h5><strong>Agregar Empleados</strong></h5></a>
    </div>
</nav>
<div class="container">
  
<router-outlet>
  
</router-outlet>

</div>